<h2>My Employees</h2>
<table class="employeeList"> 
<tr>
       <th class="list-header"> Id</th> 
        <th class="list-header">Name</th> 
        <th class="list-header">role</th> 
 </tr>       
      
	<!--  	<ul class="workers">
			<li *ngFor="let worker of workers"
				[class.selected]="worker === selectedEmployee"
				(click)="onSelect(worker)">-->
				<tr *ngFor="let worker of workers" [class.selected]="worker === selectedEmployee"
				(click)="onSelect(worker)">
					<td><span class="badge">{{worker.id}}</span></td>
					<td><span class="name">{{worker.name}} </span> </td>
					<td><span class="role">{{worker.role}}</span></td>
				</tr>
		   
		<!-- </li>
  </ul>-->

</table>



<div *ngIf="selectedEmployee">

  <h2>{{ selectedEmployee.name | uppercase }} Details</h2>
  <div><span>id: </span>{{selectedEmployee.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="selectedEmployee.name" placeholder="name">
    </label>
  </div>
  <div>
    <label>role:
      <input [(ngModel)]="selectedEmployee.role" placeholder="role">
    </label>
  </div>

</div>
