.controls div {
    padding: 10px;
}

.controls button {
        margin-left: 10px;
}
.employeeList {
    display: table;
    width: 70%;
    padding: 10px;
}
.employeeList span {
    display: table-cell;
}
#.employeeList .list-header,
#.employeeList .list-row {
#    display: table-row;
}
.employeeList .list-header {
    background: rgb(153,31,61);
    color: #FFF;
}


/* HeroesComponent's private CSS styles */
.selected {
  background-color: #CFD8DC !important;
  color: white;
}
.workers {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width:  70%;
}
.workers li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}
.workers li.selected:hover {
  background-color: #BBD8DC !important;
  color: white;
}
.workers li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.workers .text {
  position: relative;
  top: -3px;
}
.workers .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #607D8B;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}
.workers .name{
	  display: inline-block;
  font-size: small;
  color: blue;
  padding: 0.8em 0.7em 0 0.7em;
 
  line-height: 1em;
  position: relative;
  left: -15px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;	
}
.workers .role{
	  display: inline-block;
  font-size: small;
  color: blue;
  padding: 0.8em 0.7em 0 0.7em;
  line-height: 1em;
  position: relative;
  left: -25px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;	
 
}
